
h2 {
    margin-top: 2%;
    margin-left: 5%;
    position: relative;
}

a {
    font-size: xx-large;
        margin-left: 1%;
        margin-top: 2%;
        position: relative;
}
form{
    position:relative ;
    margin-left: 5%;
}
h3{
    margin-left: 5%;
   
}
body{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/996890407482144472/8B3B5819253E4AE7C50ABAA53955A94B7CF56A4B/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    background-repeat: no-repeat;
    background-size: cover;
}