*{
    font-family: "monolisa", monospace;
    margin: 0%;
}

body{
    background-color: rgb(248, 114, 114);
    overflow: hidden;
}
label{
    color: #000000;
    padding-top: 500px;
    padding-left: 350px;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 1;
}
#c1{
   margin-left: 5%;

}
#c2{
    margin-top: 45%;
    font-size: xx-large;
}
#Elo{
    color: rgb(0, 0, 0);
}
.mainpan{
    width: 100%;
    height: 70vh;
    display: flex; 
    
   
}
.firstpanel {
    /* background-image: url('https://i.ytimg.com/vi/ZZa2zdbrnbU/maxresdefault.jpg'); */
    background-image: url('https://www.gamersdecide.com/sites/default/files/styles/news_images/public/d8dn4nh-72f0d023-9a5c-4be4-9644-5f8cfdc6685c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 82.5vh;
    width: 100%;

}
.video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
  
    width:100%;
    height: 100vh;
  
    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;
  
    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
video{
   
        object-fit: cover;
        height: 100%;
        width: 100%;
      
        position: absolute;
        top: 0;
        left: 0;
      
}
a{
    color: rgb(0, 0, 0);
    z-index: 1;
    text-decoration: none;
}
.Ad{
    
    background-image: url('https://i.ebayimg.com/images/g/yxgAAOSwljFdqiDC/s-l500.jpg');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    height:82.5vh;
    width: 50vh;
}

.secondpanel{
    /* text-align: center; */
    height: 600px;
    width: 100%;
    padding-top: 7%;
}
#btn1{
    color: rgb(0, 0, 0);
}
button{
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    background: transparent;
    border: 1px solid rgbrgb(172, 7, 7);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}
#btn2{
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
.button2{
    text-align: right;
    padding-right: 50px;
    
}
#btn4{
    margin-left: 50px;
}
h2{
    color: rgb(0, 0, 0);
}
h3{
    color:rgb(0, 0, 0);
}
select{
    padding: 8px 10px;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
}
label{
    font-size: xx-large;
}

option{
    cursor: pointer;
}

.draven img{
    width: 100px;
 
}
.draven{
    width: 100%;
    display: flex;
    align-items: right ;
    justify-content: space-around;
    position: absolute;
    bottom: 10%;
    animation: draven 4s infinite linear
}
#dravendraven{
    height: cover;
    width: 100%;
}
.btn3{
    text-align: left;
}
.axes{
    position: relative;
    animation: axes 2s infinite linear;
   
   
}

@keyframes draven{
    0%{
        transform: translateY(0vh);
        opacity: 1;
    }50%{
        
        opacity: 1;
    }70%{
       
        opacity: 1;
    }100%{
        transform: translateY(-80vh);
        opacity: 1;
    } 
 }
@keyframes axes {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }